.aside-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
}

.aside-streams-wrapper {
    flex: 1 1 81%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.aside-streams-wrapper::-webkit-scrollbar {
    display: none;
}

.aside-stream-wrapper {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    padding: 0 2%;
}

.aside-stream-wrapper:hover {
    background-color: #d4d3d3;
    border-radius: 7%;
}

.aside-stream-user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 40%;
    max-width: 120px;
}

.aside-stream-avatar {
    margin-right: 2%;
}

.aside-stream-wrapper .fa-xs {
    animation: pulse 2s infinite;
    position: relative;
    bottom: 10%;
    vertical-align: center;
    color: red;
    font-size: 0.5rem;
}

.aside-info-block-wrapper {
    flex: 1 1 18%;
    text-align: center;
}

.aside-info-block-wrapper h3 {
    padding: 4%;
    background-color: #c4c4c4;
    border-radius: 5%;
}

.aside-info-block-wrapper i {
    margin: 2% 8% 0 0;
}

@media (max-width: 1200px) {
    .aside-disable {
        display: none;
    }

    .aside-wrapper {
        flex: 0 0 22px;
    }

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    }
}
