.page-wrapper {
    display: flex;
    padding: 10vh 25px 0 25px;
    background-color: #e5e5e5;
    height: 90vh;
    width: calc(100vw - 50px);
}

.btn {
    cursor: pointer;
}

.icon {
    color: grey;
}

.icon:hover {
    color: black;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 5px;
}

.avatar {
    width: 30px;
}

