.header-wrapper {
    z-index: 1000;
    padding: 0 25px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 50px);
    height: 8%;
    box-shadow: 0 2px 10px #535252;
}


.header-wrapper h2 {
    color: orange;
    flex: 0 0 150px;
}

.header-search {
    position: relative;
    flex: 1 1 auto;
    max-width: 1000px;
    text-align: center;
}

.header-search i {
    vertical-align: middle;
}

.header-search input {
    width: 30%;
}

.header-search input:focus {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}


.header-search button {
    position: relative;
    right: 6px;
    margin: 0;
}

.header-search button:hover {
    background-color: #d4d3d3;
    color: #535252;
}

.header-btns-wrapper {
    flex: 0 0 50px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.header-dropdown {
    margin-left: 30%;
    overflow: hidden;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    right: 20px;
    box-shadow: 0 10px 20px 0 rgba(83, 82, 82, 0.2);
}

.header-dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-dropdown-content a:hover {
    background-color: #c4c4c4;
}

.header-dropdown-content i {
    margin-right: 2%;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}
