.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-left: 25px;
    width: 1px;
    height: 98%;
    overflow: hidden;
    overflow-y: scroll;
}

.main-wrapper::-webkit-scrollbar {
    display: none;
}

.main-criteria-wrapper {
    overflow-x: scroll;
    display: grid;
    grid-column-gap: 5px;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    height: 60px;
    width: 100%;
}

.main-criteria-wrapper::-webkit-scrollbar {
    display: none;
}

.main-criteria {
    padding: 5px 10px;
    margin: 5px 5px;
    align-self: center;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;
}

.main-criteria:hover {
    background-color: #c4c4c4;
}

.main-video-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 5px;
    justify-content: left;
}

.main-video-container {
    min-width: 250px;
    max-width: 300px;
    height: 100%;
    width: 100%;
}

.main-video {
    position: relative;
    max-height: 250px;
    min-height: 175px;
    width: 100%;
    height: 1px;
    background-size: cover;
}

.main-video-fadein {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.main-video * {
    margin: 0;
}

.main-video h6 {
    position: absolute;
    background-color: red;
    color: white;
    width: fit-content;
    padding: 1.5%;
    top: 2%;
    left: 2%;
}

.main-video p {
    position: absolute;
    top: 85%;
    right: 5%;
    font-size: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.5%;
}

.main-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main-video:hover p {
    display: none;
}

.main-video-hide {
    opacity: 0;
}

.main-video:hover .main-video-fadein {
    opacity: 0.2;
}

.main-video:hover .main-video-hide {
    opacity: 1;
}

.main-video:hover .main-video-hide p {
    display: block;
}

.main-video-description {
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.main-video-description-left {
    display: flex;
    flex: 1 1 auto;
}

.main-video-description-left i {
    align-self: center;
}

.main-video-description-names {
    flex: 1 1 auto;
    margin-left: 5%;
    flex-direction: column;
}

.main-video-description-names h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.main-video-description-names h5 a {
    color: grey;
}

.main-video-description-names a:hover {
    color: dodgerblue;
}

.main-video-description-names * {
    text-decoration: none;
    color: black;
    margin: 0;
}

.main-footer-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    align-self: flex-end;
}

@media (max-width: 1200px) {
    .main-video-wrapper {
        grid-template-columns: 49.5% 49.5%;
        grid-gap: 1%;
    }

    .main-video-container {
        max-width: inherit;
    }

    .main-video {
        height: 25vw;
    }
}


@media (max-width: 700px) {
    .main-video-wrapper {
        grid-template-columns: 100%;
        grid-gap: 30px;
    }

    .main-video {
        height: 40vw;
    }
}
